/*图文列表样式*/
/* 三列中间自适应布局 */
/*.g-bd5{margin:0 0 50px;}*/
.g-sd51,.g-sd52{position:relative;float:left;width:50px;margin:0 -50px 0 0;}
.g-sd52{float:right;width:470px;margin:0 0 0 -470px;}
.g-mn5{float:left;width:100%;min-height: 100%;}
.g-mn5c{margin:0 0px 0 50px;}
.u-list-main{border:1px solid #E4E4E4;background-color: white;min-height: 100%;box-sizing: border-box}
.u-list{padding:0 20px 20px 0;border-left:1px solid #E4E4E4;min-height:100%;box-sizing: border-box}
.u-list-loading{padding-top:200px;}
/*修改*/
.u-checkall{text-align: center;padding-top:15px;}
.u-list-div{border-bottom:1px solid #E4E4E4;max-width:970px;position: relative;}
/*.u-list-div .u-top .g-left,.u-list-div .u-main .g-left{width:170px;float:left;margin-right:20px;}*/
.u-list-div .u-main{clear:both;padding:15px 0;}
/*.u-list-div .g-right{max-width:770px;}*/
.u-list-div .u-main .g-right p{display: inline-block;min-width:250px;line-height: 20px;word-break:break-all;}
.u-list-div .u-main .g-right div{padding-right:10px;}
.u-list-div .u-main .g-right a{cursor: pointer;color:#666;margin:0 3px;}
.u-list-div .u-main .g-right a:hover{color:#0066FF;text-decoration: underline}
.u-bottombar a{display: inline-block;padding:0 10px;background-color: #F2F2F2}
.u-list-div.current{background-color: #f7f7f7;padding-left:20px;}
/*.u-list-div.current:first-child{border:none}*/
.Js_outerList .u-list-div{padding-left:20px;}
.u-list-div-active{background-color: #f0faff!important;}
.u-list-div.current .hot{display: block;position: absolute;right:0px;top:0px;color:#fff;  }
.u-list-div.current .hot p{width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent #5488FE transparent transparent;}
.hoticon{position: absolute;right: 0px;top: 0px;font-size:14px;}
.u-list-div.current .u-bottombar a{background-color:#E4E4E4}
.u-list-div .u-top .g-left,.u-list-div .u-main .g-left{font-size:13px;width:100px;float:left;margin-right:-100px;}
.g-right-main{width:100%;float:left;}
.u-list-div .g-right{margin-left:124px;min-width: 620px}
/*.Js_tip>div:first-child+div{margin-bottom:10px!important;}*/
.m-filter .u-title{cursor: pointer}
.hot{display: none}
.u-list-div.current .hot{display: block;}
.u-result{height:35px;line-height: 35px;}
.u-result .iconfont{margin-right:0;position: relative;top:-1px;}
.u-result span{color:#1976D2;font-size:14px;}
.u-result span.normal{color:#666666;font-size: 12px}
.list-s .u-bottombar a{color:#666}
/*左侧列表*/
.m-filter .u-selector{height:32px;margin-bottom: 5px;box-sizing: border-box}
.m-filter .u-selector .Js_filterChange_active{background-color: #1976d2}
.m-filter .u-selector a{display: inline-block;cursor: pointer;height:32px;line-height: 32px;width:50%;text-align: center;background-color: #888888;}
.m-filter .m-filter-history p{padding:10px 15px 20px;background-color: rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
    position: relative;word-break:break-all; }
.m-filter .m-filter-history p:hover{background-color: rgba(0,0,0,0.2);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);}
.m-filter .m-filter-history a{line-height: 24px;word-wrap:break-word;height:auto;}
/*新增用户历史记录滚动条样式*/
.m-filter .m-filter-history::-webkit-scrollbar{
    width:6px;
    background-color:#cfcfcf;
}
.m-filter .m-filter-history::-webkit-scrollbar-thumb:vertical{
    background-color:#22282e;
    border-radius:4px;
}
.m-filter .m-filter-history{
    overflow-y: auto;
    position: absolute;
    top: 37px;
    bottom: 0px;
    width: 240px;
}
/*end*/

span.spread{    position: absolute;
    right: 20px;
    bottom: 12px;
    z-index: 2;
    cursor: pointer;}
.retract{display: none;position:absolute;bottom:5px;right:20px;cursor: pointer}
.m-filter .m-filter-login{text-align: center}


.c-blue{color:#0066cd!important;margin:0 2px;}
.Js_tip td a.active{text-decoration: underline}
.u-list-div .c-blue:first-child{margin-right:25px;}
.u-list-div .c-blue:first-child+a{font-weight: bold}
.c-checking{color:#FF9900}
/*.u-law-status{margin-left:50px;}*/
.u-list-div .u-top{font-size:12px;padding-top:15px;}
.Js_tip span.content{line-height: 18px;}
.mleft img.lazyload{max-width:98px!important;max-height:143px;vertical-align: middle;}
.record{border-top:1px solid #ccc;margin:0 auto; padding:10px 0 0 30px;position: absolute;bottom: 0px;left: 0;right: 0;background: #fff;}
/*设置弹出框样式*/
.list-l .setting{padding:30px 30px 0 30px;}
.list-l .setting label{line-height: 35px;width:24%;display: inline-block}
.list-l .setting p{line-height: 35px;}
.list-l .setting .alert{color:#FF6600}
.list-l .setting .title{font-weight:bold}
.list-l .m-setting-bottom{height: 45px;  background-color: #F2F2F2;  margin-top: 0px;}
.list-l .m-setting-tools {  float: right;  line-height: 45px;  }
.list-l .m-setting-tools input[type=button]{margin-right:10px;background-color: #1976D2;border: none;border-radius: 2px;height: 30px;padding: 0 15px;color: #fff;vertical-align: middle;cursor: pointer}
.list-l .m-setting-tools input[type=button].gray{background-color: #AEAEAE}



/*列表模式列表页*/
.list-l .tablelist{border-collapse: collapse;border:#EEEEEE 1px solid;width: 100%;line-height: 20px;background-color: white;table-layout:fixed;min-width: 1613px;}
.list-l .tablelist .list-td-div{position:relative;height: 100%;}
.list-td-div input{position: absolute;top:50%;margin-top:-6px;}
/*.list-l .tablelist td{position:relative}*/
.list-l .tablelist .hot{display: block;position: absolute;left:0px;top:0px;color:#fff;  }
.list-l .tablelist .Js_tip td span.law-ing,.list-l .tablelist .Js_tip td span.law-active,.list-l .tablelist .Js_tip td span.law-invalid{margin-left:0!important;}
.list-l .tablelist .hot p{width: 0;
    padding:0px;
    height: 0;
    border-style: solid;
    border-width: 25px 25px 0 0;
    border-color:  #5488FE transparent transparent transparent;}
.list-l .tablelist .hoticon{position: absolute;left: 0px;top: 0px;font-size:14px;line-height: 20px;}
.list-l .tablelist td,.list-l .tablelist th{border-top:#d9d9d9 1px solid;border-bottom:#d9d9d9 1px solid;padding:7px;word-wrap:break-word;}
.list-l .tablelist td:first-child,.list-l .tablelist th:first-child{padding-left:20px;height: 100%;position: relative}
.list-l .tablelist td .content{line-height: 20px;padding:5px 0;padding-right:25%;}
@media screen and (max-width:1366px){
    .list-l .tablelist td .content{padding-right:0;}
}
@media screen and (max-width:1366px)and (max-height:768px){
    /*.ui-dialog{top:0 !important;}*/
}
.list-l .greenborder{border-left:3px solid #56CF87}
.list-l .szsc,.list-l .gk,.list-l .sq,.list-l .sx{color:#fff;width:100px;text-align: center;height:25px;display: inline-block;line-height: 25px;}
.list-l .szsc,.list-l .gk{background-color: #FF9900;}
.list-l .sq{background-color: #4CAF50}
.list-l .sx{background-color: #AAAAAA}
/*列表页公共样式*/
.list .choice-count{height:40px;border:1px solid #C4EBF3;background-color: #D9EDF7;margin-bottom:10px;line-height: 40px;text-indent: 25px;color:#31709F;}
#paging{padding:10px 0;max-width: 970px;margin-left:20px;}
#paging>.btui-paging{text-align: left}
.list-l-download{height:30px;background-color: #1976D2;line-height: 30px;padding:0 5px}
.btui-paging-turn .paging-prev, .btui-paging-turn .paging-next{top:10px!important;}
.list-l-download a{color:#fff;cursor: pointer}
.Js_showTr:hover{border-left:3px solid #56CF87}
.m-list .u-toolbar .compare-btn a{    display: inline-block;
    width: 50px;
    height: 20px;
    background-color: #1976d2;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    border: 1px solid #1976d2;
    border-radius: 2px;
    margin-left: 20px;
    cursor: pointer;}
.m-list{position: relative;padding:0px;}
/*收藏*/
.m-favourite .drop_down{
    width: 300px;
    position: absolute;
    left: 116px;
    top: 123px;
    background: #fff;
    border: 1px solid #ccc;
    line-height: 24px;
}
.m-favourite .drop_down>ul{height: 120px;overflow-y: auto}
.m-favourite .drop_down li{cursor: pointer;text-indent: .5em}
.m-favourite .drop_down li:hover{background-color: #338FFF;color:#fff;}
.m-waterfall{position:relative;padding-top:20px;}
.m-waterfall .pin{width:-webkit-calc(100% - 20px);width:calc(100% - 20px);width:-moz-calc(100% - 20px);border:1px solid #E4E4E4;margin:0 0 20px 20px;position:relative;box-shadow:5px 5px 5px #eeeeee}
.m-waterfall .pin .box{border-bottom:1px solid #E4E4E4;text-align: center;padding:20px}
.m-waterfall .pin .title{padding: 10px 15px;line-height: 20px;text-align: left}
.m-waterfall .pin .title a{color:#1E1E1E}
.m-waterfall .pin .title a:hover,.m-waterfall .pin .info a:hover{color:#0066FF;text-decoration: underline}
.m-waterfall .pin .info{position:absolute;width:480px;min-height:300px;background-color:#F2F2F2;border:1px solid #E4E4E4;left:calc(50% + 111px);bottom:30px;z-index: 999;box-sizing: border-box;padding:20px 25px;}
.m-waterfall .pin .info.right{left: calc(50% - 590px)!important;}
.m-waterfall .pin .box.current .hot{display: block}
.m-waterfall .pin .box .hot{    position: absolute;
    right: 0;
    top: 0;
    color: #fff;}
.m-waterfall .pin .box .hot p{    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent #5488FE transparent transparent;}
.m-waterfall .pin .info a{color:#1E1E1E;margin:0 3px;}
.m-waterfall .pin .info .item>span{float:left;}
.m-waterfall .pin .info .item p{padding-left:110px;}
.m-waterfall .pin .info .item{line-height: 26px;}
.m-waterfall .pin .info .desc{border-top:1px dashed #ccc;margin-top:10px;padding-top:10px;}
.m-waterfall .pin .info .desc .ab{line-height: 26px;border-top: 1px dashed #ccc;padding-top: 15px;margin-top:15px;}
.m-waterfall .pin .title input[type=checkbox]{margin-right:5px;}
.m-waterfall .pin .info .list-l-download{ padding:0 10px;   position: absolute;  bottom: -30px;  right: 0px;}
.m-waterfall .pin .info .list-l-download a{color:#fff}
.m-waterfall .pin .info .list-l-download a:hover{text-decoration: none}
.m-waterfall .fall_1,.m-waterfall .fall_2,.m-waterfall .fall_3,.m-waterfall .fall_4{width:240px;float:left;box-sizing: border-box;}
.m-waterfall .pin .info .law-invalid,.law-invalid{background-color: #AAAAAA;color:#fff;border-radius: 1px;padding:0 3px;text-align:center;line-height: 20px;  display: inline-block;margin-left:50px;}
.m-waterfall .pin .info .law-active,.law-active{background-color: #4CAF50;color:#fff;border-radius: 1px;padding:0 3px;text-align:center;line-height: 20px;  display: inline-block;margin-left:50px;}
.u-law-event{background-color: #563d7c;
    color: #fff;
    border-radius: 2px;
    /*width: 68px;*/
    text-align: center;
    line-height: 20px;
    display: inline-block;
    font-size: 12px;
    font-style:italic;
    float:none!important;
    padding:0 4px 0 2px;
    margin:0 2px;}
td span.u-law-event{margin:5px 2px;}
.u-law-event .c-highligth-default{background-color: #563d7c;float:none!important;}
.m-waterfall .pin .info .law-ing,.law-ing{background-color: #FF9900;color:#fff;border-radius: 1px;padding:0 3px;text-align:center;line-height: 20px;  display: inline-block;margin-left:50px;}
/*.m-waterfall .fall_1>div:last-child .info,.m-waterfall .fall_2>div:last-child .info,.m-waterfall .fall_3>div:last-child .info,.m-waterfall .fall_4>div:last-child .info{bottom:0px;top:auto}*/
/*.m-waterfall .fall_1>div:first-child .info,.m-waterfall .fall_2>div:first-child .info,.m-waterfall .fall_3>div:first-child .info,.m-waterfall .fall_4>div:first-child .info{bottom:auto!important;top:100px!important;}*/
.list-l .law-event{background-color: #563D7C;color:#fff;border-radius: 2px;width:80px;text-align:center;line-height: 24px;  display: inline-block;margin-left:5px;}


.m-not-div{width:800px;position:fixed;top:135px;bottom:20px;background-color: #fff;right:-800px;border:1px solid #E4E4E4;box-sizing: border-box;padding:25px;z-index:99999;overflow-y: scroll;}
.m-not-div .right-arrow{width:20px;height:40px;position:absolute;top:50%;margin-top:-10px;background-color: #1976D2;cursor: pointer;left:0px;}
.m-not-div .right-arrow .iconfont{color:#fff !important;line-height: 38px;margin-left: 3px;}
.m-not-div .title{font-size:18px;color:#555;font-weight: 700;text-align: center;border-bottom:1px solid #E4E4E4;padding-bottom:10px;}
.m-not-div table{width:90%;margin:0 auto;line-height: 32px;}
.m-not-div table th:first-child{width:10%;}
.m-not-div table th:first-child+th{width:10%;}
.m-not-div table th:first-child+th+th{width:20%;}
.m-not-div table th:first-child+th+th+th+th{width:10%;}
.m-not-div table td:first-child+td+td+td{    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;}
.m-not-div table td:first-child+td+td+td+td{text-align: center}
.m-not-div table a{cursor: pointer;color:#555}
.m-not-div table tr a.Js_recyle_recover{color:#5974D9}
.m-not-div .u-check-div{text-align: center;border-top:1px solid #E4E4E4;padding-top:10px;margin-top:10px;}
.m-not-div .u-check-div input[type=button]{
    background-color: #1976D2;
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 0 15px;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;}


/*放大镜*/
.mbox {
    position: relative;
    width:102px;
    height:152px;
}
.mleft {
    width: 100px;
    height: 150px;
    line-height: 150px;
    position: relative;
    border: 1px solid #ccc;
    background: #FFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.mleft .mmove {
    width: 50px;
    height: 50px;
    background: #666;
    opacity: 0.3;
    top: 3px;
    left: 3px;
    position: absolute;
    z-index: 1;
    display: none;
    filter: alpha(opacity:30);
    border: 1px solid #000;
}
.mleft .mmask {
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 2;
    background: #000;
    cursor: move;
    filter: alpha(opacity:0);
}

span.compare {
    right:4px!important;
}

.mright{
    width: 486px;
    height: 282px;
    float: left;
    padding: 2px;
    overflow: hidden;
    display: inline;
    position: absolute;
    left: 335px;
    display: none;
    border: 3px solid #888;
    background: #fff;
    z-index: 266;
}
.mright img {
    position: absolute;
    top: 0px;
    left: 0px;
}


.m-result_merge{display: inline;}

.list-l .tablelist td .title,.u-top .translatetitle,.m-waterfall .pin .info .translatetitle{color: #31709F;font-size: 12px; font-weight:700;background: rgb(217,237,247);padding: 5px 10px;display: none;margin-top: 10px;}
.list-l .tablelist td .translatecontent,.list-l .tablelist td .translatetitle,.u-list-div .u-main .g-right .translatecontent,.m-waterfall .pin .info .translatecontent{color: #31709F;font-size: 12px;background: rgb(217,237,247);padding: 10px 20px;box-sizing: border-box;display: none;}
.tablelist td .translatetitle{margin-top:13px;}
.tablelist td .translatecontent{margin-bottom:13px;}
/*初始高亮*/
.c-highligth-default{background-color: #eeef36}

/*附图对比界面*/
.ft-compare-body{position:absolute;top:60px;bottom:0px;left:0px;overflow-y: auto;width:100%;min-width:1300px;background-color: white}
.ft-compare-body-down{top:270px;}
.ft-compare-body h2{font-size:24px;font-weight: bold;width:1300px;margin:30px auto;}
.ft-compare{width:1300px;margin:0 auto;position: relative}
.ft-compare-big-list{width: 100%;height: 80px;background-color: #f2f2f2;padding-top: 20px;border-bottom: 1px solid #cccccc}
.ft-compare-big-list:first-child{border-right: 1px solid #cccccc}
.ft-compare-big{width:100%;border:1px solid #cccccc;box-sizing: border-box;overflow: hidden;margin-bottom:17px}
.compare-big.hover{border:2px dashed #1976D2}
.compare-big{float:left;width:50%;box-sizing: border-box;position: relative}
.compare-one{border-right: 1px solid #f2f2f2}
.compare-big ul{margin-left:40px;list-style-type: none;float:left;}
.ft-compare-big-img{width: 100%;height: 383px;border-right: 1px solid #cccccc;padding: 20px 0 40px 0;position: relative}
.compare-big img{width:400px;height:383px;margin-left:125px;}
.compare-big ul li{display: block;height: 24px;line-height: 24px;color:#666666;font-size: 15px;margin-bottom:8px}
.compare-big-list-title{float:left;}
span.Js_ti{float:right;width:520px;overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.gradient{height:3px;background: linear-gradient(#fff, #ccc)}
.ft-compare-list{list-style-type:none;background-color:white;height: 141px;position: relative;border:1px solid #cccccc;box-shadow: 0 0 39px rgba(0, 0, 0, 0.1);padding:0 10px;}
.ft-compare-list li{float:left;width:145px;border-right:1px solid #cccccc;position: relative}
.ft-compare-list li:hover{border:1px solid #1976d2}
.ft-compare-list li:hover .iconfont_show{display: block}
.ft-compare-list li:hover span{display: block}
.ft-compare-list li img{width:145px;height:137px;}
.dragimg{width:100px;height:100px;border:1px solid #ccc;position:absolute}
.Js_dragImg{width:145px;height:137px;}
.ft-compare-list li span{position: absolute;top:2px;right:2px;width:20px;height:20px;border-radius: 20px;background-color: red;text-align: center;line-height: 18px;color: white;cursor: pointer;display: none}
.ft-compare-list li>.iconfont_show{position: absolute;top:0;right:2px;color: red;cursor: pointer;display: none;font-size:20px;}
.triangle{border:1px solid #F5CCD3;position: absolute;top:-55px;left:60px;width:230px;height:40px;line-height:40px;background-color: #f9e1e1;color:#a94442;z-index:10;text-align: left;border-radius: 5px;padding-left:20px}
.vs{position: absolute;z-index:10;width:80px;height: 40px;border-radius: 40px/20px;-moz-border-radius: 40px / 20px;  -webkit-border-radius: 40px / 20px; background-color: #1976d2;color: white;top:320px;left:610px;text-align: center;line-height: 40px;font-size: 15px}
.close{float: right;  margin-top: -12px; margin-right: 5px; display: inline-block;  height: 5px;cursor:pointer}
.triangle_tri{display:block;
    width:0;
    height:0;
    border-width:12px 12px 0 0;
    border-style:solid;
    border-color:#f9e1e1 transparent transparent;/*黄 透明 透明 */
    position:absolute;
    top:36px;
    left:50px;}
.triangle_tri_border{
    display:block;
    width:0;
    height:0;
    border-width:12px 12px 0 0;
    border-style:solid;
    border-color:#F5CCD3 transparent transparent;/*黄 透明 透明 */
    position:absolute;
    top:39px;
    left:49px;
}
.m-filter-history-more{
    line-height: 28px;
    padding: 0 15px;
    background-color: #1976d2;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin: 20px auto;
    display: block;
}

.tablelist tr.current{
    background-color: #f7f7f7;
}

.bg_color .m-filter .m-filter-history p{background-color: white}
.bg_color .m-filter .m-filter-history p:hover{background-color: #e4e4E4}


.guide1Content{border:1px solid #adadad;background: #fff;width:320px;position: absolute;top:125px;left:35%;padding:20px;color:#333;font-size:16px;border-radius: 5px;z-index: 99;filter: progid:DXImageTransform.Microsoft.Shadow(color='#adadad',Direction=145,Strength=3);-webkit-box-shadow: 0px 5px 10px #adadad; -moz-box-shadow: 0px 5px 10px #adadad;box-shadow: 0px 5px 10px #adadad}
.guideDown{margin-right:10px;margin-top:20px;float:right;background: #1976d2;border: 0;color: #fff;width: 54px;height: 24px;line-height: 24px;font-size:12px;}
.guideUp{margin-right:10px;margin-top:20px;float:right;background: #1976d2;border: 0;color: #fff;width: 54px;height: 24px;line-height: 24px;font-size:12px;}
.guideIgnore,.guideEnd{float:right;margin-top:20px;background: none;border:0;width: 30px;}
.guide1,.guide2,.guide3,.guide4{display:none;font-family: 'Arial Normal', 'Arial';}

.guide2Content{border:1px solid #adadad;background: #fff;width:290px;position: absolute;top: 55px;left: 251px;padding:20px;color:#333;font-size:16px;border-radius: 5px;z-index: 99;filter: progid:DXImageTransform.Microsoft.Shadow(color='#adadad',Direction=145,Strength=3);-webkit-box-shadow: 0px 5px 10px #adadad; -moz-box-shadow: 0px 5px 10px #adadad;box-shadow: 0px 5px 10px #adadad}
.unicode1:after {
    content: '\25B2';
    color: #fff;
    font-size: 20px;
    text-shadow: 0px -1px 1px #000;
    position: absolute;top:105px;left:48%;
    z-index: 999;
}
.unicode2:after {
    content: '\25C4';
    color: #fff;
    font-size: 20px;
    text-shadow: -1px -0px 1px #000;
    position: absolute;
    top: 56px;
    left: 243px;
    z-index: 999;
}

.unicode3:after {
    content: '\25B2';
    color: #fff;
    font-size: 20px;
    text-shadow:0px -1px 1px #000;
    position: absolute;
    top: 153px;
    left: 51%;
    z-index: 999;
}

.unicode4:after {
    content: '\25B2';
    color: #fff;
    font-size: 20px;
    text-shadow: 0px -1px 1px #000;
    position: absolute;top:420px;left:320px;
    z-index: 999;
}
.guide3Content{background: #fff;border:1px solid #adadad;width:320px;position: absolute;top:174px;left:35%;padding:20px;color:#333;font-size:16px;border-radius: 5px;z-index: 99;filter: progid:DXImageTransform.Microsoft.Shadow(color='#adadad',Direction=145,Strength=3);-webkit-box-shadow: 0px 5px 10px #adadad; -moz-box-shadow: 0px 5px 10px #adadad;box-shadow: 0px 5px 10px #adadad}
.guide4Content{background: #fff;border:1px solid #adadad;width:320px;position: absolute;top:440px;left:290px;padding:20px;color:#333;font-size:16px;border-radius: 5px;z-index: 99;filter: progid:DXImageTransform.Microsoft.Shadow(color='#adadad',Direction=145,Strength=3);-webkit-box-shadow: 0px 5px 10px #adadad; -moz-box-shadow: 0px 5px 10px #adadad;box-shadow: 0px 5px 10px #adadad}
.hiddenImg{z-index: 100;position:absolute;top:440px;
    left:380px;height:50px;width:50px;display: none;z-index: 100}
.Js_notNumberIn{color: red}
.removeAnimation{z-index:100;position:absolute;top:320px;left:50%}
.u-result .kh{color: #333;}
.removeTemp{display: none;}


.m-addToConsole-bottom{height: 45px;  background-color: #F2F2F2;  margin-top: 20px;}
.m-addToConsole-tools {  float: right;  line-height: 45px;  }
.m-addToConsole-tools input[type=button]{margin-right:10px;background-color: #1976D2;border: none;border-radius: 5px;height: 30px;padding: 0 15px;color: #fff;vertical-align: middle;cursor: pointer}
.m-addToConsole-tools input[type=button].gray{background-color: #AEAEAE}
.m-addToConsole .ztree li{line-height: 28px;}
.m-addToConsole .ztree li span.button.switch{height: 28px;}
.m-addToConsole .ztree li a.curSelectedNode{height: 28px;width: 204px}
.m-addToConsole .ztree li a{height: 28px;width: 204px;}
.m-addToConsole .folderadd {margin-top: 8px;float: right;margin-right: 20px;}
.m-addToConsole .folderadd .iconfont{font-size: 14px;font-family: "iconfont" !important}
.m-addToConsole .ztree li span.button.ico_open{margin: 6px 5px 0 5px}
.m-addToConsole .ztree li span.button.ico_docu{margin: 6px 5px 0 5px}
.m-addToConsole .ztree li span.button.ico_close{margin: 6px 5px 0 5px}
.m-addToConsole .ztree li a.curSelectedNode span.button{margin: 6px 5px 0 5px}
.m-addToConsole .node_name{padding-top: 8px}
.m-addToConsole .ztree li span.button.noline_open{background-position: -198px -65px}
.m-addToConsole .ztree li span.button.noline_close{background-position: -198px -65px}
.m-addToConsole .ztree li a:hover{background:none; color: #555;}
.m-addToConsole .ztree li a:hover span.button{background-image:url("../db/img/zTreeStandard.png");}
.addToConsoleRange input[type=text] { width: 64px;height: 20px;}
.s_range{margin-left: 40px;  }
.s_join {margin-left: 40px;margin-top: 10px;}
.s_label {width: 60px;font-size: 14px; font-family: '宋体';float: left;  }
.addToConsoleRange {display: inline-block;  }
.addToConsoleRange li{margin-bottom: 10px;}
.showfoldertree {display: none;margin-top: 15px;clear: both;text-align: left;width: 100%; }
.showfoldertree label{float: left;margin-right: 30px;}
.showfoldertree .righttree{display: inline-block;float: left;}
.m-addToConsole #copyFolder_select,.m-addToConsole #database_select{margin-left:0;width: 221px;height: 24px;}
.joinProject{margin-top: 10px;display: none;}

.m-editfoldername{padding-top: 20px;}
.m-editfoldername label{width: 80px;font-size: 14px;color: #666;display: inline-block;text-align: right;margin-right: 10px;float: left}
.m-editfoldername input[name=folderName]{width: 290px;height: 34px;}
.m-editfoldername-bottom{height: 45px;  background-color: #F2F2F2;  margin-top: 20px;}
.m-editfoldername-tools{  float: right;  line-height: 45px;  }
.m-editfoldername input[type=button]{margin-right:10px;background-color: #1976D2;border: none;border-radius: 5px;height: 30px;padding: 0 15px;color: #fff;vertical-align: middle;cursor: pointer}
.m-editfoldername input[type=button].gray{background-color: #AEAEAE}
.m-editfoldername p{margin-top: 10px;}
.m-editfoldername .alert{color: red;margin-right: 5px;}
.editfoldername_description {width: 290px;height: 120px;}
.newFolder{margin-left: 20px;cursor: pointer;}
.Js_userChoose .iconfont{display: none}
.Js_userChoose.choosed .iconfont{display: inline-block}
.u-userlog{width:22px;height:22px;margin-top:5px;float:left;margin-right:5px;}
.Js_userIconContainer div{
    border-radius: 22px;
    background-color: #FD922B;
}
.u-user-searchbox{max-height: 110px;overflow-y: auto}
.u-user-searchbox ul{background-color: #fff;padding:0px 0 10px 0;line-height: 30px;    box-sizing: border-box;}
.u-user-searchbox ul li{cursor: pointer;height: 30px;color:#999}
.u-user-searchbox ul li:hover{font-weight: bold;}
.u-user-searchbox ul li div,.u-usernologo{display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    background-color: #FD922B;
    float: left;
    margin-right: 10px;
    color: #fff;
    text-align: center;
    margin-top:5px;}
.u-user-searchbox ul li .iconfont{float:right}
.m-user-title{background-color: #F7F7F7;color:#9E9E9E;margin:5px 0;padding-left:5px;}
.m-user-title .iconfont{color:#9E9E9E;margin-right: 10px;}
.search-box-project{width:200px;box-sizing:border-box;padding:10px;background-color: #fff;-moz-box-shadow: 5px 5px 5px #ccc; /* 老的 Firefox */
    box-shadow: 5px 5px 5px #ccc;}
.ui-form-item .ui-input {width: 280px;}
.Js_treeAutoComplete.ui-input{width:100%;box-sizing: border-box;}
.ui-label {width: 130px; margin-left: -15px;}
.db-dialog-bottom {
    height: 45px;
    background-color: #F2F2F2;
    margin-top: 20px;
}
.db-dialog-bottom-tools {
    float: right;
    line-height: 45px;
}
.db-dialog-bottom-tools [type=button], .db-dialog-bottom-tools [type=submit] {
    background-color: #1976D2;
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 0 15px;
    color: #fff;
    margin: 0 10px;
    vertical-align: middle;
    cursor: pointer;
}
.db-dialog-bottom-tools input[type=button].gray {
    background-color: #AEAEAE;
}
.chooseDiv {
    width: 220px;
    padding: 15px;
    position: absolute;
    border: 1px solid #ccc;
    bottom: 0px;
    top: 100px;
    background-color: #fff;
    height: 105px;
    z-index: 9999;
}
.chooseDiv img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.ui-form-explain{bottom:0;margin-left: 120px;}
.addToWorkSpaceMask {
    position: absolute; top: 0px; filter: alpha(opacity=60); background-color: #000;
    z-index: 1002; left: 0px;right: 0;bottom: 0;
    opacity:0.2; -moz-opacity:0.2;
}
.fall_1 .mleft,.fall_2 .mleft,.fall_3 .mleft,.fall_4 .mleft{position:static;width:auto;height: auto;}
.fall_1 .mleft img.lazyload,.fall_2 .mleft img.lazyload,.fall_3 .mleft img.lazyload,.fall_4 .mleft img.lazyload{width:100px!important;height:150px!important;}

td>span.moreNum,td>span.retractNum{display:inline-block;padding:0 2px;line-height: 20px;border:1px solid #1976d2;color: #1976d2;cursor: pointer;text-align: center;margin-left:3px;}

td>span.retractNum{width:32px;}
body td>span.fn-hide{display: none;}

td.pr>span{display: block}

.Js_list_body .hasfilter{padding-top:220px;}
/*.dialog.m-excelexport-div,.dialog.m-multiexport-div{padding-top:0px;background-color: #EFEEF1;position: relative;}*/
/*.dialog.m-excelexport-div .u-paid-success,.dialog.m-multiexport-div .u-paid-success{    line-height: 500px;*/
    /*color: #FF6600;*/
    /*font-size: 22px;*/
    /*font-weight: bold;}*/
/*.m-excelexport-left{float:left;width:560px;background-color: #fff}*/
/*.m-excelexport-right{float:right;background-color: #EFEEF1;width:340px;text-align: center;padding:20px 15px 0 15px;box-sizing: border-box}*/
/*.m-excelexport-right .title{color:#FF6600;font-size:16px;font-weight:bold;margin-bottom:10px;}*/
/*.m-excelexport-right .desc{color:#666666;font-size:14px;margin:25px 0}*/
/*.m-export-check{border-bottom:1px solid #E4E4E4;padding-bottom:20px;}*/
/*.u-userright-div{text-align: center;height:70px;line-height: 70px;position: relative}*/
/*.u-userright-div .la-square-jelly-box.la-2x{    position: absolute;*/
    /*width: 64px;*/
    /*height: 64px;*/
    /*left:50%;*/
    /*margin-left: -32px;top:0px;margin-top:0px;}*/
/*.u-userright-div em{color:#FF6600;font-size:14px;font-weight: bold}*/
/*.dialog.m-excelexport-div .u-buttons,.dialog.m-multiexport-div .u-buttons{text-align: center;margin-top:10px;}*/
/*.dialog.m-excelexport-div .u-buttons,.dialog.m-multiexport-div .u-buttons{padding-bottom:20px;}*/
/*.dialog.m-excelexport-div .u-buttons input[type=button],.dialog.m-multiexport-div .u-buttons input[type=button]{cursor:pointer}*/
/*.dialog.m-excelexport-div .u-buttons .j_exportBtn,.dialog.m-excelexport-div .u-buttons .Js_singleExport,.dialog.m-excelexport-div .u-buttons .Js_exportBtn{width:70px;height:35px;background-color: #1976D2;color:#fff;;border:none;border-radius: 5px;}*/
/*.dialog.m-multiexport-div .u-buttons .j_exportBtn,.dialog.m-multiexport-div .u-buttons .Js_singleExport,.dialog.m-multiexport-div .u-buttons .Js_exportBtn{width:70px;height:35px;background-color: #1976D2;color:#fff;;border:none;border-radius: 5px;}*/
/*.dialog.m-excelexport-div .u-buttons .j_close,.dialog.m-multiexport-div .u-buttons .j_close{width:70px;height:35px;background-color: #999999;color:#fff;;border:none;border-radius: 5px;margin-left:20px;}*/
/*.m-excelexport-right .u-product-item{margin-bottom:10px;background-color: #fff;}*/
/*.m-excelexport-right .u-product-item .count{color:#FF6600;font-size:14px;font-weight:700;}*/
/*.m-excelexport-right .u-product-item p:first-child span:last-child{color:#999999;float:right}*/
/*.m-excelexport-right .u-product-item p:last-child{color:#999999}*/
/*.m-excelexport-right .u-product-item .u-tiem-left{line-height: 35px;background-color: #fff;padding:5px 10px;text-align:left;width:200px;box-sizing: border-box;float:left}*/
/*.m-excelexport-right .u-product-item .u-tiem-right{line-height: 80px;background-color: #E84B2E;color:#fff;font-size:18px;font-weight: bold;width:75px;float:right;background: url("../../images/goods/goods_red.png")}*/
/*.m-excelexport-right .u-price em{font-size:30px;font-weight:700;color:#FF6600}*/
/*.m-excelexport-right .u-honor{color:#FF6600;margin-top:10px;}*/
/*.m-excelexport-right .u-qrcode{margin:15px 0 10px;}*/
/*.m-excelexport-right .u-qrcode-desc{color:#666;clear: both;}*/
/*.m-excelexport-right .u-qrcode-desc span{margin-right: 17px;padding-left: 11px;}*/
/*.m-excelexport-right .u-product-more{margin-top:20px;}*/
/*.m-excelexport-right .u-product-more a{color:#fff;display: inline-block;background-color: #E84B2E;border-radius: 5px;text-align: center;padding:0 20px;line-height: 38px;}*/
.m-excelexport-div .Js_tab:last-child,.m-imgExport-div .Js_tab:last-child,.m-multiexport-div .Js_tab:last-child{
    padding:150px 0;
    line-height: 24px;
    text-align: center;
    font-size: 16px;}
.m-excelexport-div .Js_tab:last-child a,.m-multiexport-div .Js_tab:last-child a{color:#FF6600;font-weight: normal;margin:0 5px;}
.product_adver{position: relative; height: 50px; line-height: 50px; clear: both;margin-top: 10px;}
.product_adver a{border: 0 !important;padding: 0 !important;}
.product_adver a:hover{background-color: #fff !important;background: #fff !important;}

.u-chooseitem-container{padding-left:45px;margin-top:10px;border-bottom:1px solid #E4E4E4}
.u-chooseitem-container .iconfont{font-size:46px;color:#666666;margin-left:15px;cursor: pointer}
.u-chooseitem-container .iconfont:first-child.current{color:#FF3300;}
.u-chooseitem-container .iconfont:last-child.current{color:#025DAF;}
.u-exportpath-container{border-bottom:1px solid #E4E4E4;line-height: 50px;padding-left:45px;}
.u-exportpath-container label{margin-right:10px;}
.u-exportpath-container label input[type=checkbox]{margin-right:2px;}
.m-export-all label{float:none;width: auto;display: inline-block}
.m-export .u-hit-container{background-color: #F2F2F2;line-height: 26px;margin-left:60px;padding-left:10px;}
.m-export .u-hit-container em{color:#FC6600}
.m-export-choose{border-bottom: 1px solid #E4E4E4;padding-bottom:10px;}

.m-download-container{
    background-color: #fff;
    padding:10px;
    max-height: 551px;
    box-sizing: border-box;
    padding-bottom:100px;
    position: relative;
}
.m-download-container .m-main-div {
    width: 470px;
    height: 80px;
    border: 1px solid #ccc;
    /*margin-top: 25px;*/
    margin-left: auto;
    margin-right: auto;
}

.m-download-container .f14 {
    font-size: 14px;
}

.m-download-container .u-validate-div {
    padding-left: 15px;
    margin-top: 20px;
}

.m-download-container .u-validate-div img {
    cursor: pointer;
    width: 88px;
    height: 35px;
}

.m-download-container input[name=code] {
    width: 320px;
    height: 40px;
    position: relative;
    bottom: 12px;
    border:1px solid #ccc;
    text-indent: 5px;
}

.m-download-container #Button1 {
    border: 0;
    background: none;
    background-color: #4D7BD6;
    color: #fff;
    height: 24px;
    padding:0 10px;
    position: relative;
    bottom: 12px;
    cursor: pointer;
}
.m-download-container #Button1.disable{
    background-color: #ccc;
}

.m-download-container #vcode-tip {
    margin-top: 15px;
}

.m-download-container h3 {
    padding: 15px 0 15px 0;
}
.m-download-container .u-buttons{position:absolute;bottom:20px;left:330px;}

#downLoadForm{width:472px;margin:0 auto;}

.u-multiexport-tab{line-height: 30px;padding-left:30px;background-color: #fff;}
.u-multiexport-tab a{color:#666666;cursor: pointer;margin-right:40px;}
.u-multiexport-tab a.current{color:#1976D2}
.dialog.m-excelexport-div .u-buttons .Js_singleExport.disable,.dialog.multiexport .u-buttons .Js_singleExport.disable{background-color: #ccc;}
.u-batchexport{font-size:14px;}
.u-batchexport em{color:#FF6600}
.u-userright-div.u-batchexport-right.hasjurisdiction{padding-left:130px;line-height: 30px;height:auto;font-size:14px;}
.u-userright-div.u-batchexport-right .u-batchexport-right-left{float:left}
.u-userright-div.u-batchexport-right .u-batchexport-right-right{float:left;margin-left:20px;text-align: left;}

.adver_del{position: absolute;top:0;left:0;cursor: pointer;}
.hasAdver{overflow: hidden;}
.hasAdver .hasfilter .listLoader-fix{top:255px;}
.hasAdver .toolbar_fix{height: auto;}
.hasfilter .toolbar_fix{height: auto;}
.hasfilter .listLoader-fix{top:200px;}
.m-holder .m-btns button.Js_clear{margin-bottom: 0;}
/*微信支付*/
#qrcodeImg,#qrcode,#qrcodebatch{width: 120px;height:120px;background:#fff;float: left;}

/*批量导出小屏模式下样式*/
.dialog.m-multiexport-div .m-export-title{margin-top: 10px;}
.m-multiexport-div .m-excelexport-right .desc{color:#666666;font-size:14px;margin:15px 0}
.m-multiexport-div .u-batch-desc{text-align: center}
.m-multiexport-div .u-batch-desc em{color:#FF6600}

.m-index-more,.m-index-contact,.m-index-feedback{right:15px}
/*专利年费分支改toobar样式*/
.m-list .u-toolbar .barIcon{
    width: 22px;
    height: 20px;
    background: url("../../images/toolbarIcon.png?201712180909") no-repeat;
    background-position: -10px -40px;
    margin-top: 7px;
    display: inline-block;
    float: left;
}
.m-list .u-toolbar .ui-select-trigger {
    padding-left:5px;
    text-indent: 0px;
    width: 143px !important;
    text-align: left!important;
}
body.minpix .product-icon2,body.minpix .zljy-icon2{
    position: relative;top:0px!important;
}
#Js_dropdown .barIcon{background-position: -33px -15px;float: left}
.m-list .u-toolbar a.type_l .barIcon{background-position: -10px -40px;}
.m-list .u-toolbar a.type_s .barIcon{background-position: -10px -15px;}
.m-list .u-toolbar a.type_p1 .barIcon{background-position: -33px -40px;}
.m-list .u-toolbar a.type_mp .barIcon{background-position: -259px -40px;}
.m-list .u-toolbar a.Js_statistics .barIcon{background-position: -55px -15px;}
.m-list .u-toolbar a.Js_multi_export .barIcon,.Js_multi_export .barIcon{background-position: -55px -40px;}
.m-list .u-toolbar a.Js_report .barIcon{background-position: -81px -15px;}
.m-list .u-toolbar a.Js_custom_add .barIcon{background-position: -106px -15px;}
.m-list .u-toolbar a.Js_setting .barIcon{background-position: -131px -15px;}
.m-list .u-toolbar a.Js_favourite .barIcon,.Js_favourite .barIcon{background-position: -157px -15px;}
.m-list .u-toolbar a.Js_export .barIcon,.Js_export .barIcon{background-position: -185px -15px;}
.m-list .u-toolbar a.Js_addToConsole .barIcon{background-position: -211px -15px;}
.m-list .u-toolbar a.Js_highLight .barIcon{background-position: -235px -15px;}
.m-list .u-toolbar a.Js_autoUpdate .barIcon{background-position: -256px -15px;}
.m-list .u-toolbar a.Js_import .barIcon{background-position: -131px -40px;}
.m-list .u-toolbar a.Js_patentFee .barIcon{background-position: -185px -40px;}
.m-list .u-toolbar a.Js_contrast .barIcon{background-position: -211px -40px;}
.m-list .u-toolbar a.Js_merge .barIcon{background-position: -235px -40px;}
.m-list .u-toolbar a {
    padding: 0 5px;
    border: 0;
    cursor: pointer;
    float: left;
    margin-right: 4px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #000;
}
.m-list .u-toolbar .type_switch a{padding: 0 5px;}
.m-list .toolbar_big a {
    padding: 0px 10px;
}
.m-list .u-toolbar a:first-child{border: 0;}
.m-list .u-toolbar a.type_l{border: 0;padding: 0 5px;}
.type_switch{width: 88px;border:1px solid #ccc}
.type_switch>a{width: 88px;}
.m-list .u-toolbar a.Js_merge{display: none;}

/*广告相关*/
.u-sList-ad{
    width:990px;
    height:40px;
}
.u-p1List-ad{
    width:220px;
    height:320px;
}

.u-l-law-part-detail{position: absolute;z-index:101;top:30px;left:-200px;text-align:left;background: #fff;color: #666;border: 1px solid #ddd;border-radius:5px;padding: 10px;width: 260px;}
.u-l-law-part-detail .u-l-law-part-detail-container{border: 1px solid #ddd;padding: 10px;}
.u-l-law-part-detail ul{padding: 10px 15px 0;}
.u-l-law-part-detail li{border-bottom: 1px solid #ddd;line-height: 30px;}
.u-l-law-part-detail li span{margin-right: 20px;}
.u-l-law-part-detail li:last-child{border-bottom: 0px}
.u-l-law-part-detail:before,
.u-l-law-part-detail:after{
    position:absolute;
    content:'';
    width:14px;
    height:14px;
    top:-6px;
    left:240px;
    margin-left:-7px;
    overflow:hidden;
    pointer-events:none;
    -webkit-transform:rotate(225deg);
    -mz-transform:rotate(225deg);
    transform:rotate(225deg);
}
.u-l-law-part-detail:before{
    background:#ddd;
    box-shadow:1px 1px 0 rgba(0,0,0,.2)
}
.u-l-law-part-detail:after{
    bottom:-7px;background:#fff;
}
.u-l-law-div .u-l-law-part-detail{left:-50px;}
.p1-law-p .u-l-law-part-detail{left:50px;}
.u-l-law-div .u-l-law-part-detail:before,.u-l-law-div .u-l-law-part-detail:after, .p1-law-p .u-l-law-part-detail:before,.p1-law-p .u-l-law-part-detail:after{left:140px;}
.u-l-law-td{position: relative;cursor: pointer}
.u-l-law-td .u-l-law-part-detail{top:40px;}
.p1-law-p .u-l-law-part-detail{top:43px;}
/*cppc*/
.Js_outerList .cppc{position: absolute;top:10px;right: 10px;}
.Js_outerList .cppc_down{font-size:13px;z-index:1;display:none;width: 330px;border:4px solid #d7d7d7;height: auto;text-align: left;padding: 10px;position:absolute;right: 0px;background: #333;color: #fff;}
.Js_outerList .cppc_down .cppc_top{border-bottom: 1px solid #fff;font-size: 14px;color: #fff;text-align: left;height: 24px;line-height: 20px;}
.Js_outerList .cppc_pro{clear: both;display: inline-block;}
.Js_outerList .cppc_pro a{float:left;margin: 10px;}
.Js_outerList .cppc_pro .cppc_pro_info{display: inline-block;}
.Js_outerList .cppc_pro .cppc_pro_info a{display: inline-block;color: #fff;margin: 0}
.Js_outerList .cppc_pro .cppc_name{margin: 10px 0;}
.Js_outerList .pin .cppc_down{right:-150px}
.Js_outerList .Js_showTr .cppc{right:0px;top:0;position: relative}
.Js_outerList .Js_showTr .cppc_down{left:0px}
/*多图模式*/
.u-list-div .u-main .u-mp p{display: inline-block;margin-bottom:10px;line-height: 20px;word-break:break-all;}
.u-list-div .u-main .u-mp div>span{margin-right:15px;}
.u-list-div .u-main .u-mp a{cursor: pointer;color:#666;margin:0 3px;}
.u-list-div .u-main .u-mp a:hover{color:#0066FF;text-decoration: underline}
.u-mp-img{position: relative;margin-top: 10px;}
.u-mp-img .btn_iconfont{position: absolute;top:43%;font-size: 24px;cursor: pointer;}
.u-mp-img .prevarrow{left: 0}
.u-mp-img .nextarrow{right: 0}
.scrollDom{height: 170px;}
.scrollElement{display: none;height: 100%;padding-left: 36px;}
.scrollDom .active{display: block}
.scrollLi{width: 210px;height:168px;line-height:168px;margin-right: 15px;float: left;border: 1px solid #ddd;text-align: center;background: #fff}
.scrollLi img{max-width: 210px;max-height:165px;vertical-align: middle}
/*滚动后缩略样式*/
.scrolling .m-top{
    height:0px!important;
    overflow: hidden;
}
.scrolling .g-bd1{
    top:0px;
}
.scrolling .g-sd1{
    top:0px;
}
.scrolling .Js_list_body .hasfilter{
    padding-top:0px;
}
.scrolling .toolbar_fix{
    top:0px;
}
.scrolling .serchform{
    height:0px;
    overflow: hidden;
    border:none;
}
.scrolling .toolbar_fix{
    padding-top:0px;
}
.scrolling .product_adver{
    display:none;
}
.backToTop{
    display: none;
    position:fixed;
    z-index:9;
    right: 10px;
    bottom: 29px;
    cursor: pointer;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}
.backToTop .iconfont{
    color: #108fe9;
    font-size: 30px;
}
.scrolling .backToTop{
    display: block;
}

/*左侧筛选项样式*/
.fold_box{
    width: 20px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 240px;
    margin-top: -10px;
    background-color: #000;
    cursor: pointer;
    border-radius:0 20px 20px 0;
    line-height: 40px;
    z-index:999;
}
.fold_box>i{
    font-size:10px;
    color:#38A8F7;
}
.fold .g-sd1{
    width:0;
}
.fold #Js_preload{
    width:0;
}
.fold .m-filter-history{
    width:0;
}
.fold .m-filter .u-selector{
   display:none;
}
.fold .toolbar_fix{
    left:0;
}
.fold .m-list{
    margin-left:0;
}
.fold .fold_box{
    left:0px;
}

body.minpix .g-sd1{
    width:240px;
    left:-240px;
}

body.minpix #Js_preload{
    width:240px;
}
body.minpix .m-filter-history{
    width:auto;
}
body.minpix .m-filter .u-selector{
    display: block;;
}
body.minpix .toolbar_fix{
    left:0;
}
body.minpix .m-list{
    margin-left:0;
}
body.minpix .fold_box{
    left:0px;
    display: none;
}

/*左侧筛选项样式*/
.fold_box2{
    width: 20px;
    height: 40px;
    position: absolute;
    top: 50%;
    right:-20px;
    margin-top: -10px;
    background-color: #000;
    cursor: pointer;
    border-radius:0 20px 20px 0;
    line-height: 40px;
    z-index:999;
}
.fold_box2>i{
    font-size:10px;
    color:#38A8F7;
}

body.minpix .g-mn1 .m-list{margin-left: 0!important;}
body.minpix .toolbar_fix{left:0!important;}
.JS-m-filter-hover{display: none;width: 5px;background: #333;position: absolute;right:-5px;height:100%;padding-top: 36px;top:0}
body.minpix .JS-m-filter-hover{display: block;}

@media screen and (max-width: 1440px) {
    body .g-sd1{
        width:240px;
        left:-240px;
    }

    body #Js_preload{
        width:240px;
    }
    body .m-filter-history{
        width:auto;
    }
    body .m-filter .u-selector{
        display: block;;
    }
    body .toolbar_fix{
        left:0;
    }
    body .m-list{
        margin-left:0;
    }
    body .fold_box{
        left:0px;
        display: none;
    }

    /*左侧筛选项样式*/
    .fold_box2{
        width: 20px;
        height: 40px;
        position: absolute;
        top: 50%;
        right:-20px;
        margin-top: -10px;
        background-color: #000;
        cursor: pointer;
        border-radius:0 20px 20px 0;
        line-height: 40px;
        z-index:999;
    }
    .fold_box2>i{
        font-size:10px;
        color:#38A8F7;
    }

    body .g-mn1 .m-list{margin-left: 0!important;}
    body .toolbar_fix{left:0!important;}
    .JS-m-filter-hover{display: none;width: 5px;background: #333;position: absolute;right:-5px;height:100%;padding-top: 36px;top:0;}
    body .JS-m-filter-hover{display: block;}
}


.mt20{margin-top: 20px;}
.JS_advertisement{/*position: absolute;right:40px;top:0;*/width:300px;}
body.minpix .product_adver{display: none;}
.m-waterfall .fall_1 .pin:first-child .info{top:0;bottom:inherit;}
.m-waterfall .fall_2 .pin:first-child .info{top:0;bottom:inherit;}
.m-waterfall .fall_3 .pin:first-child .info{top:0;bottom:inherit;}
.m-waterfall .fall_4 .pin:first-child .info{top:0;bottom:inherit;}
.patContainer{position:relative;width: 60px;float: left;margin-left: 8px;box-sizing: border-box;}
.patContainer:hover .patContainer-item{display:block;}
.patContainer span{display: block;width: 60px;height: 30px;color: #ff6000;font-size: 16px;line-height: 30px;background: #fff5eb;border: 1px solid #fc860a;text-align: center;box-sizing: border-box;position: absolute;top: 0;left: 0;z-index: 9;}
.patContainer-item{position: absolute;top: 30px;left: 0;width: 184px;height: 76px;font-size: 14px;color: #333;background: #fff;border: 1px solid #ddd;z-index: 1;padding: 10px;box-sizing: border-box;line-height: 27px;}
.patContainer.patContainer-pl{float:none;margin:0;display:inline-block;top: -20px;z-index:102;}
.patContainer.patContainer-pl span{top:5px;height:20px;line-height:20px;font-size:13px;}
.patContainer.patContainer-pl .patContainer-item{top:24px;}
.patContainer.patContainer-pl .patContainer-item p{padding:0!important;}
.patContainer.patContainer-pl.patContainer-mp{float:none;top: -21px;margin-left:3px;}

.JS_listRight{position: absolute;right:110px;top:0;width:300px;}

body.minpix .JS_listRight{width:240px;right:20px;}
body.minpix .JS_advertisement{width: 240px;}
@media (max-width: 1800px) {
    .JS_listRight{width:240px;right:20px;}
    .layout_contact{right: -40px;}
    .layout_contact:hover{
        right:0;
    }
    #JS_list_right_ad{margin-top: 0!important;}
}
@media (max-width: 1200px) {
    .JS_tagcloud{display: none!important;}
}
