@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  /* project id 145775 */
  src: url("//at.alicdn.com/t/font_145775_zy1sqzyb8bz0vn29.eot");
  src: url("//at.alicdn.com/t/font_145775_zy1sqzyb8bz0vn29.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_145775_zy1sqzyb8bz0vn29.woff") format("woff"), url("//at.alicdn.com/t/font_145775_zy1sqzyb8bz0vn29.ttf") format("truetype"), url("//at.alicdn.com/t/font_145775_zy1sqzyb8bz0vn29.svg#iconfont") format("svg");
}

/*设置字体方法*/
/*设置position以及上下左右位置*/
/*清楚浮动*/
/*兼容性*/
/*三角形*/
/*guide整理*/
body.minpix {
  /*通用头部样式*/
  /*头部左侧*/
  /*头部中心位置*/
  /*头部右侧*/
  /*通用工具栏*/
  /*通用的数据源*/
  /*个性化背景*/
}

body.minpix .m-top {
  height: 41px;
  line-height: 41px;
  background: #000;
}

body.minpix .m-top .nmenu > li {
  height: 41px;
  line-height: 41px;
  margin-left: 30px;
}

body.minpix .m-top .nmenu > li.more-js:hover:after {
  top: 27px;
}

body.minpix .g-top-r .u-top-user.Js_u_top_user {
  min-width: 38px !important;
  text-align: center;
}

body.minpix .vice-search {
  top: 41px;
  height: 46px;
}

body.minpix .vice-search .vice-search-div {
  height: 30px;
  top: 8px;
}

body.minpix .vice-search .vice-search-div .m-search-dropdown {
  height: 30px;
  line-height: 30px;
  left: 0;
  bottom: 0;
}

body.minpix .vice-search .vice-search-div .clean_icon {
  top: 0;
  left: 495px;
  height: 30px;
  line-height: 30px;
}

body.minpix .vice-search .vice-search-div .m-search-submit {
  width: 37.5px;
  height: 30px;
  line-height: 30px;
  left: 515px;
  font-size: 16px;
}

body.minpix .vice-search .vice-search-div .moreType {
  left: 580px;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}

body.minpix .vice-search .vice-search-div .moreType a {
  font-size: 12px;
}

body.minpix .vice-search .m-search-input-input {
  width: 475px;
  left: 40px;
  height: 30px;
  line-height: 30px;
}

body.minpix .g-top-l {
  height: 41px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.minpix .g-top-l .logoBox {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 0;
  padding: 0;
  height: 41px;
}

body.minpix .g-top-l .logoBox img {
  margin: 0;
  width: 116px;
  height: 40px;
}

body.minpix .g-top-center {
  margin-left: 20px;
  height: 41px;
  line-height: 41px;
}

body.minpix .g-top-center .m-search-shouye, body.minpix .g-top-center .hugedata, body.minpix .g-top-center .txmessage, body.minpix .g-top-center .m-other-links {
  float: left;
  width: 80px;
  height: 41px;
  line-height: 41px;
  padding: 0;
}

body.minpix .g-top-center .m-search-shouye:hover, body.minpix .g-top-center .hugedata:hover, body.minpix .g-top-center .txmessage:hover, body.minpix .g-top-center .m-other-links:hover {
  background: #41A8F8;
}

body.minpix .g-top-center .m-search-shouye a, body.minpix .g-top-center .hugedata a, body.minpix .g-top-center .txmessage a, body.minpix .g-top-center .m-other-links a {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 0;
  padding: 0;
  height: 41px;
  margin: 0;
}

body.minpix .m-other-tools {
  margin-left: 20px;
  font-size: 12px;
}

body.minpix .m-other-tools:before {
  width: 2px;
  height: 20px;
  margin-top: 5px;
  content: "";
  float: left;
  color: #fff;
  border-left: 2px solid #fff;
}

body.minpix .m-other-tools .Js_search_type {
  width: 124px;
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 0;
  padding: 0;
  height: 41px;
}

body.minpix .m-other-tools .Js_search_type:hover {
  background: #41A8F8;
}

body.minpix .m-other-tools .iconfont {
  line-height: 30px;
}

body.minpix .search_type_dropdown > li {
  line-height: 41px;
}

body.minpix .search_type_dropdown > li > a {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 0;
  padding: 0;
  height: 41px;
}

body.minpix .Js_buy_dropdown {
  top: 30px !important;
  height: 360px;
}

body.minpix .product_second a {
  padding: 11px 0;
}

body.minpix .m-gad {
  margin: 0;
  height: 41px;
  line-height: 41px;
}

body.minpix .m-gad .Js_scrollNews {
  height: 41px;
  line-height: 41px;
}

body.minpix .g-top-r .m-other-links {
  height: 41px !important;
  line-height: 41px !important;
  width: 126px;
}

body.minpix .g-top-r .m-other-links a {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 0;
  padding: 0;
  height: 41px;
  margin: 0 !important;
}

body.minpix .g-top-r .searchConsole1 {
  height: 41px !important;
  line-height: 41px !important;
}

body.minpix .g-top-r .searchConsole1 a {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 0;
  padding: 0;
  height: 41px;
  margin: 0 !important;
}

body.minpix .g-top-r .searchConsole1 .link_ctrl_dropdown li {
  height: 41px;
  line-height: 41px;
}

body.minpix .g-top-r .u-top-user {
  min-width: 80px;
  margin: 0 !important;
  padding: 0 !important;
  height: 41px !important;
  line-height: 41px !important;
}

body.minpix .g-top-r .u-top-user a {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 0;
  padding: 0;
  height: 41px;
  /*margin: 0 !important;*/
}

body.minpix .g-top-r .u-top-user img {
  width: 24px;
  height: 24px;
  display: inline;
}

body.minpix .g-top-r .u-top-user a {
  display: inline;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body.minpix .g-top-r .u-top-user>a{
  display: block;
}

body.minpix .g-top-r .u-top-user .user-dropdown {
  width: 300px;
}

body.minpix .g-top-r .u-top-user .user-dropdown li {
  height: 41px;
}

body.minpix .g-top-r .u-top-user .user-dropdown li a {
  color: #000000;
}

body.minpix .g-top-r .u-top-user .user-dropdown .Js-user-logout{
  width: 300px!important;
}

body.minpix .g-top-r .u-top-user.register {
  min-width: 40px;
}

body.minpix .g-top-r .guideDownload {
  height: 41px !important;
  line-height: 41px !important;
  width: auto;
}

body.minpix .g-top-r .guideDownload a {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 0;
  padding: 0;
  height: 41px;
  margin: 0 !important;
}

body.minpix .g-top-r .guideDownload .iconfont {
  font-size: 20px;
  height: 41px;
  line-height: 41px;
}

body.minpix .g-top-r .guideDownload .redCircle {
  top: 9px;
  width: 6px;
  height: 6px;
}

body.minpix .g-top-r .unlogin {
  height: 41px !important;
  line-height: 41px !important;
}

body.minpix .g-top-r .unlogin a {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 0;
  padding: 0;
  height: 41px;
  margin: 0 !important;
}

body.minpix .g-top-r .unlogin .person-head {
  float: left;
  width: 50%;
}

body.minpix .g-top-r .unlogin .person-head i {
  font-size: 20px;
}

body.minpix .g-top-r .unlogin .Js_login {
  float: left;
}

body.minpix .toolbar_fix {
  top: 54px;
  left: 230px;
  height: 106px;
}

body.minpix .m-list {
  padding: 0 10px;
  margin-left: 220px;
  margin-top: 15px;
}

body.minpix .m-list .u-toolbar {
  height: 56px;
  margin-bottom: 10px;
}

body.minpix .m-list .u-toolbar a {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar a .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar .switch_on, body.minpix .m-list .u-toolbar .switch_on.type_l, body.minpix .m-list .u-toolbar .switch_on.type_s, body.minpix .m-list .u-toolbar .switch_on.type_p1 {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
  margin-left: 0;
}

body.minpix .m-list .u-toolbar .switch_on .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar .switch_on .down {
  margin-left: 4px;
  margin-right: 7px !important;
  font-family: 'iconfont';
  font-size: 12px;
  font-style: normal;
}

body.minpix .m-list .u-toolbar .type_l.switch_on .barIcon {
  background-position: -10px -40px !important;
}

body.minpix .m-list .u-toolbar .type_s.switch_on .barIcon {
  background-position: -10px -15px !important;
}

body.minpix .m-list .u-toolbar .type_p1.switch_on .barIcon {
  background-position: -33px -40px !important;
}

body.minpix .m-list .u-toolbar .type_switch {
  border: 1px solid #ccc;
  width: 88px;
  top: 38px;
  left: 20px;
}

body.minpix .m-list .u-toolbar .type_switch a {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
  width: 88px;
  padding: 0;
  margin: 0;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
}

body.minpix .m-list .u-toolbar .type_switch a .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar .type_switch a .barIcon {
  margin: 7px 0 0 6px;
}

body.minpix .m-list .u-toolbar .type_switch .type_l .barIcon {
  background-position: -10px -40px !important;
}

body.minpix .m-list .u-toolbar .type_switch .type_s .barIcon {
  background-position: -10px -15px !important;
}

body.minpix .m-list .u-toolbar .type_switch .type_p1 .barIcon {
  background-position: -33px -40px !important;
}

body.minpix .m-list .u-toolbar .Js_favourite {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar .Js_favourite .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar .Js_favourite .barIcon {
  background-position: -157px -15px;
}

body.minpix .m-list .u-toolbar .Js_export {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar .Js_export .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar .Js_export .barIcon {
  background-position: -185px -15px;
}

body.minpix .m-list .u-toolbar .Js_multi_export {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar .Js_multi_export .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar .Js_multi_export .barIcon {
  background-position: -55px -40px;
}

body.minpix .m-list .u-toolbar .Js_contrast {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar .Js_contrast .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar .Js_contrast .barIcon {
  background-position: -211px -40px;
}

body.minpix .m-list .u-toolbar .Js_statistics {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar .Js_statistics .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar .Js_statistics .barIcon {
  background-position: -55px -15px;
}

body.minpix .m-list .u-toolbar .Js_highLight {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar .Js_highLight .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar .Js_highLight .barIcon {
  background-position: -235px -15px;
}

body.minpix .m-list .u-toolbar .highLight_dropDown {
  border: 1px solid #ccc;
  top: 92px;
  left: 20px;
}

body.minpix .m-list .u-toolbar .highLight_dropDown li {
  margin: 4px 0;
}

body.minpix .m-list .u-toolbar .highLight_dropDown li a {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
  padding: 0;
  margin: 0;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
}

body.minpix .m-list .u-toolbar .highLight_dropDown li a .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar .highLight_dropDown li a .barIcon {
  background-position: -10px -40px;
}

body.minpix .m-list .u-toolbar .highLight_dropDown li:last-child {
  margin-bottom: 0;
}

body.minpix .m-list .u-toolbar .Js_setting {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar .Js_setting .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar .Js_setting .barIcon {
  background-position: -235px -15px;
}

body.minpix .m-list .u-toolbar .Js_merge {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar .Js_merge .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar .Js_merge .barIcon {
  background-position: -235px -40px;
}

body.minpix .m-list .u-toolbar .Js_report {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar .Js_report .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar .Js_report .barIcon {
  background-position: -81px -15px;
}

body.minpix .m-list .u-toolbar .Js_addToConsole {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar .Js_addToConsole .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar .Js_addToConsole .barIcon {
  background-position: -211px -15px;
}

body.minpix .m-list .u-toolbar .Js_favourite {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar .Js_favourite .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar .Js_favourite .barIcon {
  background-position: -157px -15px;
}

body.minpix .m-list .u-toolbar .u-result {
  height: 32px;
  line-height: 32px;
  font-size: 12px;
}

body.minpix .m-list .u-toolbar div a {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar div a .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar div .switch_on, body.minpix .m-list .u-toolbar div .switch_on.type_l, body.minpix .m-list .u-toolbar div .switch_on.type_s, body.minpix .m-list .u-toolbar div .switch_on.type_p1 {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
  margin-left: 0;
}

body.minpix .m-list .u-toolbar div .switch_on .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar div .switch_on .barIcon {
  background-position: -10px -40px;
}

body.minpix .m-list .u-toolbar div .switch_on .down {
  margin-left: 4px;
  margin-right: 7px !important;
  font-family: 'iconfont';
  font-size: 12px;
  font-style: normal;
}

body.minpix .m-list .u-toolbar div .Js_favourite {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar div .Js_favourite .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar div .Js_favourite .barIcon {
  background-position: -157px -15px;
}

body.minpix .m-list .u-toolbar div .Js_export {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar div .Js_export .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar div .Js_export .barIcon {
  background-position: -185px -15px;
}

body.minpix .m-list .u-toolbar div .Js_multi_export {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar div .Js_multi_export .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar div .Js_multi_export .barIcon {
  background-position: -55px -40px;
}

body.minpix .m-list .u-toolbar div .Js_contrast {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar div .Js_contrast .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar div .Js_contrast .barIcon {
  background-position: -211px -40px;
}

body.minpix .m-list .u-toolbar div .Js_statistics {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar div .Js_statistics .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar div .Js_statistics .barIcon {
  background-position: -55px -15px;
}

body.minpix .m-list .u-toolbar div .Js_highLight {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar div .Js_highLight .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar div .Js_highLight .barIcon {
  background-position: -235px -15px;
}

body.minpix .m-list .u-toolbar div .highLight_dropDown {
  border: 1px solid #ccc;
  top: 92px;
  left: 20px;
}

body.minpix .m-list .u-toolbar div .highLight_dropDown li {
  margin: 4px 0;
}

body.minpix .m-list .u-toolbar div .highLight_dropDown li a {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
  padding: 0;
  margin: 0;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
}

body.minpix .m-list .u-toolbar div .highLight_dropDown li a .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar div .highLight_dropDown li a .barIcon {
  background-position: -10px -40px;
}

body.minpix .m-list .u-toolbar div .highLight_dropDown li:last-child {
  margin-bottom: 0;
}

body.minpix .m-list .u-toolbar div .Js_setting {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar div .Js_setting .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar div .Js_setting .barIcon {
  background-position: -235px -15px;
}

body.minpix .m-list .u-toolbar div .Js_merge {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar div .Js_merge .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar div .Js_merge .barIcon {
  background-position: -235px -40px;
}

body.minpix .m-list .u-toolbar div .Js_addToConsole {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
  background-position: -211px -15px;
}

body.minpix .m-list .u-toolbar div .Js_addToConsole .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar .Js_favourite {
  padding: 0 4px;
  border: 0;
  font-size: 12px;
  margin-right: 0 !important;
  color: #000;
}

body.minpix .m-list .u-toolbar .Js_favourite .barIcon {
  width: 22px;
  height: 20px;
  background-image: url("../../css/db/img/toolbarIcon.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  float: left;
}

body.minpix .m-list .u-toolbar .Js_favourite .barIcon {
  background-position: -157px -15px;
}

body.minpix .m-list .u-toolbar .u-result {
  height: 32px;
  line-height: 32px;
  font-size: 12px;
}

body.minpix .m-list .product_adver:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body.minpix .serchform {
  height: 60px;
}

body.minpix .serchform .u-dropdown {
  font-size: 21px;
  margin-top: 17px;
}

body.minpix .m-search {
  height: 42px;
  padding-top: 10px;
  float: left;
  bottom: 9px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.minpix .m-search .search-div .search-div-in .u-search {
  height: 38px;
  line-height: 38px;
  font-size: 12px;
}

body.minpix .m-search .search-div .search-div-in .clean_icon {
  font-size: 14px;
  top: 10px;
  right: 3px;
}

body.minpix .m-search .btns {
  height: 38px;
  line-height: 38px;
}

body.minpix .m-search .btns .research {
  font-size: 12px;
  line-height: 38px;
}

body.minpix .m-search .btns .search-btn {
  margin-top: 8px;
  height: 26px;
}

body.minpix .m-search .btns .search-btn i {
  font-size: 18px;
  margin-top: 6px;
}

body.minpix .save-btn {
  font-size: 12px;
  height: 38px;
  float: left;
  margin-top: 12px;
}

body.minpix .theme_follow {
  margin: 12px 0 0 0;
  width: 86px;
}

body.minpix .theme_follow .theme_follow_link {
  padding: 0 4px;
  font-size: 12px;
  border: none !important;
}

body.minpix .theme_follow .theme_follow_link i {
  font-size: 12px;
}

body.minpix .research_div {
  top: 55px;
  left: 50px;
}

body.minpix .research_div .research_div_in {
  padding: 16px;
}

body.minpix .research_div .u-title {
  font-size: 14px;
  margin-bottom: 10px;
}

body.minpix .research_div .m-major-field .g-reSearch-r .g-reSearch-r-in {
  font-size: 12px;
}

body.minpix .research_div .m-major-field-item, body.minpix .research_div .g-reSearch-l, body.minpix .research_div .g-reSearch-r {
  text-align: center;
}

body.minpix .research_div .Js_reSearch_save {
  margin: 0;
}

body.minpix .research_div .ui-select.ui-relation, body.minpix .research_div .ui-select.ui-type {
  padding: 0 5px;
  border: 0;
  margin: 0 !important;
  color: #000 !important;
}

body.minpix .listLoader-fix .choice-count {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}

body.minpix .listLoader-fix .choice-count strong {
  font-size: 14px;
}

body.minpix .listLoader-fix .choice-count em {
  font-weight: bold;
}

body.minpix .listLoader-fix #Js_listLoader {
  /*图文模式*/
  /*列表模式*/
  /*首图模式*/
  /*没有数据*/
}

body.minpix .listLoader-fix #Js_listLoader .u-list-main .u-checkall {
  width: 30px;
  margin-right: -30px;
  text-align: center;
}

body.minpix .listLoader-fix #Js_listLoader .u-list-main .u-checkall label p {
  font-size: 12px;
}

body.minpix .listLoader-fix #Js_listLoader .u-list-main .g-mn5 .g-mn5c {
  margin: 0 0 0 30px;
}

body.minpix .listLoader-fix #Js_listLoader .u-list-main .g-mn5 .g-mn5c .Js_outerList .u-list-div .u-main {
  padding: 10px 0;
}

body.minpix .listLoader-fix #Js_listLoader .u-list-main .g-mn5 .g-mn5c .Js_outerList .u-list-div .u-top .g-right {
  margin-left: 132px !important;
}

body.minpix .listLoader-fix #Js_listLoader .list-l .Js_outerList .tablelist {
  line-height: 14px;
}

body.minpix .listLoader-fix #Js_listLoader .list-l .Js_outerList .tablelist tbody {
  font-size: 12px;
}

body.minpix .listLoader-fix #Js_listLoader .list-l .Js_outerList .tablelist tbody tr th:nth-child(2) {
  width: 28px !important;
}

body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_1, body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_2, body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_3, body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_4 {
  width: 215px;
}

body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_1 .pin, body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_2 .pin, body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_3 .pin, body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_4 .pin {
  width: 200px;
  margin: 0 0 15px 15px;
  box-sizing: border-box;
  text-align: center;
}

body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_1 .pin .box, body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_2 .pin .box, body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_3 .pin .box, body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_4 .pin .box {
  padding: 9px;
  width: 180px;
}

body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_1 .pin .box img, body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_2 .pin .box img, body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_3 .pin .box img, body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_4 .pin .box img {
  width: 150px !important;
  height: auto !important;
}

body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_1 .pin .title a, body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_2 .pin .title a, body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_3 .pin .title a, body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_4 .pin .title a {
  font-size: 12px !important;
}

body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_1 .pin .info, body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_2 .pin .info, body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_3 .pin .info, body.minpix .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_4 .pin .info {
  font-size: 12px;
  padding: 10px;
  /*min-height: 300px;*/
  left: calc(100%) !important;
  /*top: 50px !important;*/
}

body.minpix .listLoader-fix #Js_listLoader .no_data {
  position: absolute !important;
  margin-left: -405px !important;
  margin-bottom: -100px !important;
}

body.minpix .listLoader-fix #Js_listLoader .no_data .no_data_iconfont {
  height: 30px;
}

body.minpix .listLoader-fix #Js_listLoader .no_data .no_data_iconfont .iconfont_data {
  font-size: 30px;
  width: 50px;
  height: 30px;
}

body.minpix .listLoader-fix #Js_listLoader .no_data .no_data_reason {
  margin-top: 10px !important;
}

body.minpix .listLoader-fix #Js_listLoader #paging .btui-paging {
  font-size: 12px;
}

body.minpix .m-not-div {
  width: 400px;
  padding: 5px;
  top: 188px;
}

body.minpix .m-not-div .right-arrow {
  width: 12px;
  height: 28px;
  line-height: 28px;
  top: 50%;
  margin-top: -14px;
}

body.minpix .m-not-div .right-arrow .iconfont {
  font-size: 12px;
  line-height: 28px;
  margin: 0;
}

body.minpix .m-not-div .title {
  font-size: 14px;
  padding-bottom: 6px;
}

body.minpix .m-not-div table {
  line-height: 20px;
  width: 100%;
}

body.minpix .m-not-div table a {
  font-size: 12px;
}

body.minpix .m-not-div table tbody tr {
  font-size: 12px;
}

body.minpix .m-not-div table tbody th:first-child {
  width: 14% !important;
}

body.minpix .m-not-div table tbody th + th {
  width: 14% !important;
}

body.minpix .m-not-div table tbody th + th + th {
  width: 24% !important;
}

body.minpix .m-not-div table tbody th + th + th + th {
  width: 9% !important;
}

body.minpix .u-check-div input[type=button] {
  padding: 0 8px;
  height: 22px;
  font-size: 12px;
}

body.minpix .g-bd1 {
  top: 39px;
}

body.minpix #filter .g-sd1, body.minpix .m-filter .g-sd1 {
  top: 54px;
}

body.minpix #filter .g-sd1 #Js_preload .u-title, body.minpix .m-filter .g-sd1 #Js_preload .u-title {
  font-size: 14px;
  height: 32px;
  line-height: 32px;
}

body.minpix #filter .g-sd1 #Js_preload ul, body.minpix .m-filter .g-sd1 #Js_preload ul {
  line-height: 32px;
}

body.minpix #filter .g-sd1 #Js_preload ul li, body.minpix .m-filter .g-sd1 #Js_preload ul li {
  padding: 0 10px;
  line-height: 32px;
}

body.minpix #filter .g-sd1 #Js_preload ul li a, body.minpix .m-filter .g-sd1 #Js_preload ul li a {
  height: 32px;
}

body.minpix #filter .g-sd1 #Js_preload ul li a span, body.minpix .m-filter .g-sd1 #Js_preload ul li a span {
  font-size: 12px;
  float: left;
}

body.minpix #filter .g-sd1 #Js_preload ul li a .fn-text-overflow, body.minpix .m-filter .g-sd1 #Js_preload ul li a .fn-text-overflow {
  width: 72px;
}

body.minpix #filter .g-sd1 #Js_preload ul li a .filter-count, body.minpix .m-filter .g-sd1 #Js_preload ul li a .filter-count {
  right: 23px;
}

body.minpix #filter .g-sd1 #Js_preload ul li a i, body.minpix .m-filter .g-sd1 #Js_preload ul li a i {
  font-size: 12px;
}

body.minpix #filter .g-sd1 #Js_preload ul li a .m-country, body.minpix .m-filter .g-sd1 #Js_preload ul li a .m-country {
  float: left;
  margin-top: 10px;
}

body.minpix #filter .g-sd1 #Js_preload ul li a label .fn-text-overflow, body.minpix .m-filter .g-sd1 #Js_preload ul li a label .fn-text-overflow {
  width: 128px;
}

body.minpix #filter .g-sd1 #Js_preload ul li.spread, body.minpix .m-filter .g-sd1 #Js_preload ul li.spread {
  background-color: #efefef;
}

body.minpix #filter .g-sd1 #Js_preload ul .secondFilter li, body.minpix .m-filter .g-sd1 #Js_preload ul .secondFilter li {
  padding-left: 30px;
}

body.minpix #filter .g-sd1 #Js_preload .date, body.minpix .m-filter .g-sd1 #Js_preload .date {
  height: 32px;
  padding: 6px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.minpix #filter .g-sd1 #Js_preload .date input, body.minpix .m-filter .g-sd1 #Js_preload .date input {
  height: 20px;
  margin: 0;
  font-size: 12px;
}

body.minpix #filter .g-sd1 #Js_preload .date .prevDate, body.minpix #filter .g-sd1 #Js_preload .date .nextDate, body.minpix .m-filter .g-sd1 #Js_preload .date .prevDate, body.minpix .m-filter .g-sd1 #Js_preload .date .nextDate {
  width: 60px;
}

body.minpix #filter .g-sd1 #Js_preload .date .filter_date_confirm, body.minpix .m-filter .g-sd1 #Js_preload .date .filter_date_confirm {
  margin-left: 10px;
}

body.minpix .record {
  font-size: 12px;
  text-align: center;
  padding: 0 !important;
  left: 20px;
  z-index: 999;
}

body.minpix .m-database-box .m-database label .database-i16, body.minpix .m-database-box .m-database label .database-all, body.minpix .m-database-box .m-database label .database-cn, body.minpix .m-database-box .m-database label .database-us, body.minpix .m-database-box .m-database label .database-ep, body.minpix .m-database-box .m-database label .database-wo, body.minpix .m-database-box .m-database label .database-jp, body.minpix .m-database-box .m-database label .database-gb, body.minpix .m-database-box .m-database label .database-fr, body.minpix .m-database-box .m-database label .database-de, body.minpix .m-database-box .m-database label .database-ch, body.minpix .m-database-box .m-database label .database-kr, body.minpix .m-database-box .m-database label .database-ru, body.minpix .m-database-box .m-database label .database-au, body.minpix .m-database-box .m-database label .database-ca, body.minpix .m-database-box .m-database label .database-in, body.minpix .m-database-box .m-database label .database-fi, body.minpix .m-database-box .m-database label .database-it, body.minpix .m-database-box .m-database label .database-my, body.minpix .m-database-box .m-database label .database-no, body.minpix .m-database-box .m-database label .database-nz, body.minpix .m-database-box .m-database label .database-pl, body.minpix .m-database-box .m-database label .database-se {
  background-image: url("../../../images/mapNail.png");
  width: 37px;
  height: 25px;
  line-height: 25px;
}

body.minpix .m-database-box .m-database label .database-all {
  background-position: -227px -73px;
}

body.minpix .m-database-box .m-database label .database-cn {
  background-position: -8px -6px;
}

body.minpix .m-database-box .m-database label .database-us {
  background-position: -52px -6px;
}

body.minpix .m-database-box .m-database label .database-ep {
  background-position: -96px -6px;
}

body.minpix .m-database-box .m-database label .database-wo {
  background-position: -140px -6px;
}

body.minpix .m-database-box .m-database label .database-jp {
  background-position: -184px -6px;
}

body.minpix .m-database-box .m-database label .database-gb {
  background-position: -228px -6px;
}

body.minpix .m-database-box .m-database label .database-fr {
  background-position: -272px -6px;
}

body.minpix .m-database-box .m-database label .database-de {
  background-position: -316px -6px;
}

body.minpix .m-database-box .m-database label .database-ch {
  background-position: -8px -38px;
}

body.minpix .m-database-box .m-database label .database-kr {
  background-position: -52px -38px;
}

body.minpix .m-database-box .m-database label .database-ru {
  background-position: -96px -38px;
}

body.minpix .m-database-box .m-database label .database-au {
  background-position: -140px -38px;
}

body.minpix .m-database-box .m-database label .database-ca {
  background-position: -184px -38px;
}

body.minpix .m-database-box .m-database label .database-in {
  background-position: -228px -38px;
}

body.minpix .m-database-box .m-database label .database-fi {
  background-position: -272px -38px;
}

body.minpix .m-database-box .m-database label .database-it {
  background-position: -316px -38px;
}

body.minpix .m-database-box .m-database label .database-my {
  background-position: -8px -70px;
}

body.minpix .m-database-box .m-database label .database-no {
  background-position: -52px -70px;
}

body.minpix .m-database-box .m-database label .database-nz {
  background-position: -96px -70px;
}

body.minpix .m-database-box .m-database label .database-pl {
  background-position: -140px -70px;
}

body.minpix .m-database-box .m-database label .database-se {
  background-position: -184px -70px;
}

body.minpix .m-database-box .m-database label .bold {
  margin-left: 5px;
  font-size: 13px;
}

body.minpix .m-database-box .m-database td {
  font-size: 12px;
  padding: 10px 2px !important;
}

body.minpix .m-database-box .m-database th {
  padding: 10px 0;
  white-space: inherit;
}

body.minpix .bg_add {
  z-index: 999;
}

body.minpix .ui-dialog .ui-dialog-title {
  height: 30px;
  line-height: 30px;
}

body.minpix .ui-dialog-close {
  top: 12px;
}

body.minpix .Js-index-contact-detail {
  width: 160px;
  height: 600px;
  top: -82.6px !important;
}

body.minpix .Js-index-contact-detail .m-index-contact-title {
  font-size: 14px;
}

body.minpix .Js-index-contact-detail .m-index-contact-qqq {
  font-size: 12px;
}

body.minpix .Js-index-contact-detail .m-cdWx .m-cdWx-content {
  font-size: 12px;
}

body.minpix .Js-index-contact-detail .m-cdImg img, body.minpix .Js-index-contact-detail .m-cdSecImg img {
  width: 120px;
  height: 120px;
}

body.minpix .noticeBox {
  height: 41px;
  line-height: 41px;
  width: 186px;
  margin-left: 30px;
}

body.minpix #J_scrollNotice {
  left: 0;
  height: 41px;
  line-height: 41px;
}

body.minpix #J_scrollNotice li {
  height: 41px;
}

body.minpix #J_scrollNotice li a {
  margin: 0 80px 0 0;
}

body.minpix .advertisement_icon {
  top: -2px;
  left: 668px;
}

body.minpix .JS_siteMessage {
  height: 41px;
  line-height: 41px;
}

body.minpix .item-container.sm {
  width: 720px;
  height: 410px;
}

body.minpix .item-container.sm .item-content dl {
  width: 240px;
  height: 120px;
  padding: 5px 10px;
}

body.minpix .item-container.sm .item-content dl dt {
  padding-left: 0;
}

body.minpix .item-container.sm .item-content dl dt a {
  font-size: 12px;
}

body.minpix .item-container.sm .item-content dl dt img {
  margin-top: 10px;
}

body.minpix .item-container.sm .item-content dl dd {
  width: auto;
  height: auto;
  line-height: 16px;
  font-size: 12px;
  padding-left: 0;
}

body.minpix .item-container {
  width: 750px;
  padding-top: 10px;
  left: -28px;
}

body.minpix .item-container .item-header {
  height: 50px;
  background-position: 0 0;
  padding-left: 11px;
}

body.minpix .item-container .item-header dt {
  padding-top: 23px;
  margin-right: 4px;
  font-size: 12px;
}

body.minpix .item-container .item-header dd {
  padding-top: 23px;
  line-height: 12px;
  margin-right: 10px;
}

body.minpix .item-container .item-header dd a {
  font-size: 12px;
}

body.minpix .item-container .item-content {
  min-height: 190px;
  height: auto;
}

body.minpix .item-container .item-content dl {
  min-height: auto;
}

body.minpix .item-container .item-content dl dd a {
  font-size: 12px;
}

body.minpix .item-container .item-content dt, body.minpix .item-container .item-content dd {
  height: 34px;
  line-height: 34px;
  font-size: 12px;
  padding-left: 15px;
}

body.minpix .item-container .item-content dd {
  width: 25%;
  padding-left: 15px;
}

body.minpix .item-container.searchMode {
  width: 100px;
  height: 150px;
  left: -9px;
  top: 41px;
  padding-top: 5px;
}

body.minpix .item-container.searchMode ul li a {
  width: 100%;
  padding: 0;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
}

body.minpix .nmenu > li:nth-child(2) .item-container .item-content {
  min-height: 330px;
}

body.minpix .icon-search {
  width: 30px;
  height: 30px;
}

body.minpix .mt51.confirm_content {
  margin-top: 40px;
}

body.minpix .hot-img, body.minpix .gn-img {
  vertical-align: top;
  margin-top: 9px;
}

body.minpix .guide1 {
  display: none;
  font-family: 'Arial Normal', 'Arial';
}

body.minpix .guide1 .guide1Content {
  z-index: 99;
  background: #fff;
  padding: 15px;
  color: #333;
  font-size: 12px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#FFADADAD', Direction=145, Strength=3);
  -webkit-box-shadow: 0px 5px 10px #adadad;
  -moz-box-shadow: 0px 5px 10px #adadad;
  box-shadow: 0px 5px 10px #adadad;
}

body.minpix .guide1 .guide1Content .guideDown, body.minpix .guide1 .guide1Content .guideUp {
  margin: 20px 20px 0 0;
  float: right;
  background: #1976d2;
  border: 0;
  color: #fff;
  width: 43px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

body.minpix .guide1 .guide1Content .guideIgnore, body.minpix .guide1 .guide1Content .guideEnd {
  float: right;
  margin-top: 20px;
  background: none;
  border: 0;
  width: 43px;
  height: 20px;
}

body.minpix .guide1 .unicode1:after {
  top: 93px !important;
  left: 54% !important;
}

body.minpix .guide1 .guide1Content {
  top: 113px !important;
  left: 54% !important;
  width: 230px;
}

body.minpix .guide2 {
  display: none;
  font-family: 'Arial Normal', 'Arial';
}

body.minpix .guide2 .guide2Content {
  z-index: 99;
  background: #fff;
  padding: 15px;
  color: #333;
  font-size: 12px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#FFADADAD', Direction=145, Strength=3);
  -webkit-box-shadow: 0px 5px 10px #adadad;
  -moz-box-shadow: 0px 5px 10px #adadad;
  box-shadow: 0px 5px 10px #adadad;
}

body.minpix .guide2 .guide2Content .guideDown, body.minpix .guide2 .guide2Content .guideUp {
  margin: 20px 20px 0 0;
  float: right;
  background: #1976d2;
  border: 0;
  color: #fff;
  width: 43px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

body.minpix .guide2 .guide2Content .guideIgnore, body.minpix .guide2 .guide2Content .guideEnd {
  float: right;
  margin-top: 20px;
  background: none;
  border: 0;
  width: 43px;
  height: 20px;
}

body.minpix .guide2 .unicode2:after {
  left: 235px !important;
}

body.minpix .guide2 .guide2Content {
  width: 222px;
  left: 243px !important;
}

body.minpix .guide3 {
  display: none;
  font-family: 'Arial Normal', 'Arial';
}

body.minpix .guide3 .guide3Content {
  z-index: 99;
  background: #fff;
  padding: 15px;
  color: #333;
  font-size: 12px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#FFADADAD', Direction=145, Strength=3);
  -webkit-box-shadow: 0px 5px 10px #adadad;
  -moz-box-shadow: 0px 5px 10px #adadad;
  box-shadow: 0px 5px 10px #adadad;
}

body.minpix .guide3 .guide3Content .guideDown, body.minpix .guide3 .guide3Content .guideUp {
  margin: 20px 20px 0 0;
  float: right;
  background: #1976d2;
  border: 0;
  color: #fff;
  width: 43px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

body.minpix .guide3 .guide3Content .guideIgnore, body.minpix .guide3 .guide3Content .guideEnd {
  float: right;
  margin-top: 20px;
  background: none;
  border: 0;
  width: 43px;
  height: 20px;
}

body.minpix .guide3 .unicode3:after {
  top: 140px !important;
  left: 50% !important;
}

body.minpix .guide3 .guide3Content {
  width: 230px;
  height: 126px;
  top: 160px;
  padding: 10px;
}

body.minpix .guide4 {
  display: none;
  font-family: 'Arial Normal', 'Arial';
}

body.minpix .guide4 .guide4Content {
  z-index: 99;
  background: #fff;
  padding: 15px;
  color: #333;
  font-size: 12px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#FFADADAD', Direction=145, Strength=3);
  -webkit-box-shadow: 0px 5px 10px #adadad;
  -moz-box-shadow: 0px 5px 10px #adadad;
  box-shadow: 0px 5px 10px #adadad;
}

body.minpix .guide4 .guide4Content .guideDown, body.minpix .guide4 .guide4Content .guideUp {
  margin: 20px 20px 0 0;
  float: right;
  background: #1976d2;
  border: 0;
  color: #fff;
  width: 43px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

body.minpix .guide4 .guide4Content .guideIgnore, body.minpix .guide4 .guide4Content .guideEnd {
  float: right;
  margin-top: 20px;
  background: none;
  border: 0;
  width: 43px;
  height: 20px;
}

body.minpix .guide4 .guide4Content {
  width: 230px;
  padding: 10px;
  height: 124px;
}

body.minpix .guide4 .guide4Content .guideEnd, body.minpix .guide4 .guide4Content .guideUp {
  margin-top: 10px !important;
}

body.minpix .g-top-l .logoBox {
  height: 41px;
}

body.minpix .toolbar_fix {
  height: auto;
  padding: 0;
  left: 250px;
}

body.minpix .serchform {
  height: 60px;
}

body.minpix .serchform .u-dropdown {
  margin-top: 14px;
}

body.minpix .m-search {
  height: 50px;
}

body.minpix .m-search .search-div .search-div-in .clean_icon {
  top: 10px;
}

body.minpix .g-mn1 .m-list {
  background: #fff;
  margin-left: 250px;
}

body.minpix .g-mn1 .m-list .u-toolbar {
  height: auto;
  margin-bottom: 10px;
}

body.minpix .m-list .u-toolbar div .switch_on.type_s,
body.minpix .m-list .u-toolbar div .switch_on.type_l,
body.minpix .m-list .u-toolbar div .switch_on.type_p1,
body.minpix .m-list .u-toolbar div .switch_on.type_mp{
  margin-left:20px;
}
body.minpix .g-mn1 .m-list .u-toolbar form + div + div + div {
  height: 40px !important;
}

body.minpix .g-mn1 .m-list .u-toolbar form + div + div + div > a {
  height: 40px !important;
  line-height: 40px !important;
}

body.minpix .g-mn1 .m-list .u-toolbar form + div + div + div > a .barIcon {
  margin-top: 11px;
}

body.minpix .g-mn1 .m-list .u-toolbar form + div + div + div a.Js_extendNotDiv {
  line-height: 28px !important;
  margin-left: 0 !important;
}

body.minpix .g-mn1 .m-list .u-toolbar .ui-select-trigger {
  width: 100px !important;
}

body.minpix .g-mn1 .m-list .listLoader-fix {
  bottom: 0px;
  top: 122px;
}
body.scrolling .g-mn1 .m-list{margin-top: 0;}
body.minpix .g-mn1 .m-list .listLoader-fix .choice-count {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}

body.minpix .g-mn1 .m-list .listLoader-fix .choice-count strong {
  font-size: 14px;
}

body.minpix .g-mn1 .m-list .listLoader-fix .choice-count em {
  font-weight: bold;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader {
  /*图文模式*/
  /*列表模式*/
  /*首图模式*/
  /*没有数据*/
  margin-top:10px;
}
body.minpix .u-result span.normal:nth-child(2){
  display:none;
}
body.minpix .u-list-div .u-top{
  padding-top:10px;
}
body.minpix .serchform,body.minpix .g-mn1 .m-list .u-toolbar{
  margin-bottom:5px;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .u-list-main .u-checkall {
  width: 30px;
  margin-right: -30px;
  text-align: center;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .u-list-main .u-checkall label p {
  font-size: 12px;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .u-list-main .g-mn5 .g-mn5c {
  margin: 0 0 0 30px;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .u-list-main .g-mn5 .g-mn5c .Js_outerList .u-list-div .u-top .g-right {
  margin-left: 132px !important;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-l .Js_outerList .tablelist {
  line-height: 14px;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-l .Js_outerList .tablelist tbody {
  font-size: 12px;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-l .Js_outerList .tablelist tbody tr th:first-child {
  width: 12px !important;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_1, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_2, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_3, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_4 {
  width: 215px;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_1 .pin, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_2 .pin, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_3 .pin, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_4 .pin {
  width: 200px;
  margin: 0 0 15px 15px;
  box-sizing: border-box;
  text-align: center;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_1 .pin .box, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_2 .pin .box, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_3 .pin .box, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_4 .pin .box {
  padding: 9px;
  width: 180px;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_1 .pin .box img, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_2 .pin .box img, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_3 .pin .box img, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_4 .pin .box img {
  width: 150px !important;
  height: auto !important;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_1 .pin .title a, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_2 .pin .title a, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_3 .pin .title a, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_4 .pin .title a {
  font-size: 12px !important;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_1 .pin .info, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_2 .pin .info, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_3 .pin .info, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_4 .pin .info {
  font-size: 12px;
  padding: 10px;
  /*min-height: 200px;*/
  /*top: 50px !important;*/
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_1 .pin .info .item, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_2 .pin .info .item, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_3 .pin .info .item, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_4 .pin .info .item {
  line-height: 20px;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_1 .pin .info .item p, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_2 .pin .info .item p, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_3 .pin .info .item p, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_4 .pin .info .item p {
  text-align: center;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_1 .pin .info .item + .item, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_2 .pin .info .item + .item, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_3 .pin .info .item + .item, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_4 .pin .info .item + .item {
  text-align: left;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_1 .pin .info, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_2 .pin .info {
  left: calc(100%) !important;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_3 .pin .info, body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .list-s .m-waterfall .fall_4 .pin .info {
  left: calc(-187%) !important;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .no_data {
  position: absolute !important;
  margin-left: -405px !important;
  margin-bottom: -100px !important;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .no_data .no_data_iconfont {
  height: 30px;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .no_data .no_data_iconfont .iconfont_data {
  font-size: 30px;
  width: 50px;
  height: 30px;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader .no_data .no_data_reason {
  margin-top: 10px !important;
}

body.minpix .g-mn1 .m-list .listLoader-fix #Js_listLoader #paging .btui-paging {
  font-size: 12px;
}

body.minpix .g-mn1 .m-list .m-not-div {
  width: 400px;
  padding: 5px;
  top: 188px;
}

body.minpix .g-mn1 .m-list .m-not-div .right-arrow {
  width: 12px;
  height: 28px;
  line-height: 28px;
  top: 50%;
  margin-top: -14px;
}

body.minpix .g-mn1 .m-list .m-not-div .right-arrow .iconfont {
  font-size: 12px;
  line-height: 28px;
  margin: 0;
}

body.minpix .g-mn1 .m-list .m-not-div .title {
  font-size: 14px;
  padding-bottom: 6px;
}

body.minpix .g-mn1 .m-list .m-not-div table {
  line-height: 20px;
  width: 100%;
}

body.minpix .g-mn1 .m-list .m-not-div table a {
  font-size: 12px;
}

body.minpix .g-mn1 .m-list .m-not-div table tbody tr {
  font-size: 12px;
}

body.minpix .g-mn1 .m-list .m-not-div table tbody th:first-child {
  width: 14% !important;
}

body.minpix .g-mn1 .m-list .m-not-div table tbody th + th {
  width: 14% !important;
}

body.minpix .g-mn1 .m-list .m-not-div table tbody th + th + th {
  width: 24% !important;
}

body.minpix .g-mn1 .m-list .m-not-div table tbody th + th + th + th {
  width: 9% !important;
}

body.minpix .g-mn1 .m-list .u-check-div input[type=button] {
  padding: 0 8px;
  height: 22px;
  font-size: 12px;
}

body.minpix .ui-field-select {
  width: 178px !important;
}

body.minpix .ui-field-select ul {
  width: 100%;
}

body.minpix .ui-field-select ul li {
  width: 100%;
}

body.minpix .ui-field-select ul li a {
  font-size: 12px;
}

body.minpix .list-l-download {
  font-size: 12px;
}

body.minpix .list-l-download i {
  font-size: 12px;
  padding: 0 4px;
}

body.minpix .u_power_container {
  margin-left: 20px;
}

body.minpix .u-exportpath-container {
  padding-left: 30px;
}

body.minpix .m-top .search_type_dropdown {
  width: 120px !important;
}

body.minpix .m-other-tools {
  margin-left: 10px !important;
}

body.minpix .m-other-tools .Js_search_type {
  padding-left: 10px !important;
  width: 120px !important;
  margin-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.minpix .m-gad {
  left: 16px !important;
}

body.minpix .Js_search_type_dropdown_contrast a.start_compare {
  color: #fff !important;
}

body.minpix .ui-dialog .dialog.m-excelexport-div .ui-buttons {
  padding-bottom: 10px;
}

body.minpix .ui-dialog .dialog.m-excelexport-div .ui-buttons .j_exportBtn, body.minpix .ui-dialog .dialog.m-excelexport-div .ui-buttons .j_close {
  width: 60px;
  height: 36px;
}

body.minpix .product_adver {
  height: 36px;
  line-height: 36px;
  margin: 10px 0 0 0;
}

body.minpix .product_adver img + img {
  height: 36px !important;
}

body.minpix .product_adver a img {
  height: 36px !important;
}

body.minpix .u-p1List-ad {
  width: 190px;
  height: 280px;
}

body.minpix .u-l-law-div .u-l-law-part-detail {
  padding: 6px;
  left: -12px;
  top: 26px;
  width: 202px;
}

body.minpix .u-l-law-div .u-l-law-part-detail .u-l-law-part-detail-container {
  padding: 6px;
}

body.minpix .u-l-law-div .u-l-law-part-detail ul {
  padding: 0;
}

body.minpix .u-l-law-div .u-l-law-part-detail:after, body.minpix .u-l-law-div .u-l-law-part-detail:before {
  width: 10px;
  height: 10px;
  left: 108px;
}

body.minpix .g-mn1 .record {
  font-size: 12px;
  text-align: center;
  padding: 0 !important;
  left: 0;
  bottom: 9px;
}

body.minpix .g-mn1 .record span, body.minpix .g-mn1 .record a {
  height: 22px !important;
  line-height: 22px !important;
}

body.minpix .tipContentAngle {
  top: 223px !important;
}

body.minpix .tipContent {
  top: -228px!important;
}
body.minpix .tipContentPara{
  left:10px;
  top:-26px;
}

body.minpix.scrolling #filter .g-sd1, body.minpix.scrolling .m-filter .g-sd1 {
  top: 0px;
}

body.minpix.scrolling .g-bd1 {
  top: 0;
}

body.minpix.scrolling .serchform {
  height: 0;
  overflow: hidden;
  border: none;
}

body.minpix.scrolling .toolbar_fix {
  top: 0 !important;
  padding-top: 0px;
}

body.minpix.scrolling .product_adver {
  display: none;
}

body.minpix.fold .toolbar_fix {
  left: 0;
  top: 54px;
}

body.minpix.fold .m-list {
  margin-left: 0;
}

body.minpix.fold .g-mn1 .m-list .listLoader-fix {
  left: 0;
}
body.minpix .m-waterfall .pin .info{
  /*width:370px;*/
}
